* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
   scroll-behavior: smooth;
    
    
}


/* الاشياء المشتركه*/

.container {
    width: 80%;
    margin: auto;
}
.f-heading{
    font-size: 1.5rem;
    color: coral;
    font-weight: bold;
    
}
.padd{
    padding: 1rem 0;
}
/* الاheader*/
header{
    
    width: 100%;
    height: 60px;
    background-color: azure;
    position:fixed;
    z-index: 100;
    
    
    
     
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    

}


.logo img {
    width: 60px;
    
    
}
    
nav a{
    color:dodgerblue;
     padding:  0 1rem ;
    font-weight: bold;
    
    
    
    
}
nav a:hover{
    color:darkmagenta;
    border-bottom: 1px solid #c91e2f;
    
}
#main {
    width: 70%;
    height: 100vh;
}

#aside {
    width: 30%;
    height: 100vh;
    
    
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    border: 1px solid #000;
    
}
.aside-content h2{
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
    background-color: blueviolet;
    color: aliceblue;
    width: 100%;
}
.aside-content a{
    margin: 10px 0;
    color:currentColor;
    
}
.aside-content a:hover{
    background-color: darkorange;
    color: aliceblue;
    width: 100%;
    text-align: center;
}

.main-content2 {
     margin-top: 80px;
    width: 100%;
    text-align: right;
    line-height: 30px;
    
}
.main-content2 h2{
    font-size: 20px;
    background-color: blueviolet;
    margin: 20px 5px;
    color: aliceblue;
}
.main-content2 p{
    text-indent: 20px;
    margin: 0 10px;
    flex-wrap: wrap;
}
.main-content2 img{
    width: 100%;
    
}
